/* src/App.css */

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #ffffff;
  background-color: #181825 !important;
}


.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Loading indicator */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  font-size: 18px;
  color: #666;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
}

.form-group input{
  background-color: #181825;
    border: 1px solid #ddd;
} 
.form-group select, 
.form-group textarea,
.date-picker {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #111827;
}

.form-group input:focus, 
.form-group select:focus, 
.form-group textarea:focus,
.date-picker:focus {
  outline: none;
  border-color: #179299;
  box-shadow: 0 0 0 2px rgba(33, 150, 243, 0.2);
}




.blinking-cursor {
  font-weight: bold;
  font-size: 1.2em;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

